useDynLib(fraq, .registration = TRUE)

importFrom(Rcpp, sourceCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom(edlibR, align)
importFrom(Biostrings, BStringSet)

export(fraq_options)
export(fraq_downsample)
export(fraq_convert)
export(fraq_run_r)
export(fraq_export_shortreadq)
export(fraq_concat)
export(fraq_chunk)
export(fraq_slice)
export(fraq_count_barcodes)
export(fraq_demux)
export(fraq_import_shortreadq)
export(fraq_quality_filter)
export(fraq_trim_adapters)
export(fraq_merge_pairs)
export(fraq_summary)
export(fraq_align)
export(fraq_mem_list)
export(fraq_mem_remove)
export(fraq_mem_load)
export(fraq_fifo_supported)
export(generate_random_fastq)
export(fraq_rcpp_template)
